<form>
    <label>Update Book</label>
    
    Accession Number:
    <input name="accID" id="accID" placeholder="Enter book ID" required>
    Book Name:
    <input name="name" id="name" placeholder="Enter book name">
    Book Author:
    <input name="author" id="author" placeholder="Enter author name">
    Shelf:<select name="shelf" id="shelfID"></select>
    <input type="submit" value="Submit">
    <div id="response-viewer"></div>
</form>
<script>
    (async function () {
        let sel = document.querySelector("#shelfID");
        let response = await fetch("/api/shelf/getAll");
        response = await response.json();

        
        const params = new URL(location.href).searchParams;
        let accID = params.get('accID');
        // fetch this book
        let book;
        try {
            let r2 = await fetch("/api/book/get/"+accID);
            book = await r2.json();
            
            if(book && book.accID){
                document.querySelector("#accID").value = book.accID;
                document.querySelector("#name").value = book.name;
                document.querySelector("#author").value = book.author;
            }
        } catch(e) {}
        
        for (var i = 0; i < response.length; i++) {
            if(book && book.shelf === response[i]._id)
                sel.innerHTML += "<option value='" + response[i]._id + "' selected>" + response[i].name + "</option>";
            else 
                sel.innerHTML += "<option value='" + response[i]._id + "'>" + response[i].name + "</option>";
        }
    })();
    document.querySelector("form").addEventListener("submit", async function (e) {
        e.preventDefault();
        const data = new FormData(e.target);
        const formJSON = Object.fromEntries(data.entries());
        
        const response = await fetch("/api/book/update/"+formJSON.accID+"/a?render=true", {
            method:"POST",
            headers:{
                "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify(formJSON)
        });
        console.log(response);
        if(response.redirected) window.location.href = response.url;
        document.querySelector("#response-viewer").innerHTML = await response.text();
    })
</script>