<form>
    <label>Add Book To Shelf</label>
    Accession Number:
    <input id="accID" name="accID" placeholder="Enter book ID" required>
    Shelf:
    <select name="shelf" id="shelfID" required></select>
    Row:
    <input name="row">
    <input id="submit" type="submit" value="Submit">
    <div id="response-viewer"></div>
</form>
<script>
    document.querySelector("form").addEventListener("submit", async function (e) {
        e.preventDefault();
        const data = new FormData(e.target);
        const formJSON = Object.fromEntries(data.entries());
        formJSON.accID = formJSON.accID.toUpperCase();
        
        const response = await fetch("/api/book/update/"+formJSON.accID+"/a?render=true", {
            method:"POST",
            headers:{
                "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify(formJSON)
        });
        console.log(response);
        if(response.redirected) window.location.href = response.url;
        document.querySelector("#response-viewer").innerHTML = await response.text();
        document.querySelector("#accID").value = "";
        document.querySelector("#accID").focus();
        // window.location.reload();
    });
    
    (async function(){
        let sel = document.querySelector("#shelfID");
        let response = await fetch("/api/shelf/getAll");
        response = await response.json();

        const params = new URL(location.href).searchParams;
        let shelfID = params.get('shelfID');
        let shelfName = "";
        let isShelfIDValid = false;

        for(var i=0;i<response.length;i++){
            if(response[i]._id === shelfID){
                isShelfIDValid = true;
                shelfName = response[i].name;
                sel.innerHTML += "<option value='"+response[i]._id+"' selected>"+response[i].accID + " - " + response[i].name+"</option>";
            } else
                sel.innerHTML += "<option value='"+response[i]._id+"'>"+ response[i].accID + " - " + response[i].name +"</option>";
        }
        if(isShelfIDValid) {
            document.querySelector("#name").value = shelfName;
        }
    })();
    (async function(){
        const params = new URL(location.href).searchParams;
        let accID = params.get('accID');
        if(accID){
            document.querySelector("#accID").value = accID;
            document.querySelector("#submit").click();
        }
    })();
</script>
<!--TRIGGER BUILD-->