<form>
    <label>Get Shelf</label>
    Shelf:
    <select name="accID" id="shelfID" required></select>
    <input id="submit" type="submit" value="Submit">
    <div id="response-viewer"></div>
</form>
<script>
    document.querySelector("form").addEventListener("submit", async function (e) {
        e.preventDefault();
        let accID = document.querySelector("#shelfID").value;

        const response = await fetch("/api/shelf/get/" + accID + "?render=true");
        console.log(response);
        document.querySelector("#response-viewer").innerHTML = await response.text();

    });
    (async function(){
        let sel = document.querySelector("#shelfID");
        let response = await fetch("/api/shelf/getAll");
        response = await response.json();

        const params = new URL(location.href).searchParams;
        let shelfID = params.get('shelfID');
        let selShelf;
        let isShelfIDValid = false;

        for(var i=0;i<response.length;i++){
            if(response[i].accID === shelfID){
                isShelfIDValid = true;
                selShelf = response[i];
                sel.innerHTML += "<option value='"+response[i].accID+"' selected>"+response[i].accID + " - " + response[i].name+"</option>";
            } else
                sel.innerHTML += "<option value='"+response[i].accID+"'>"+ response[i].accID + " - " + response[i].name +"</option>";
        }
        if(isShelfIDValid) {
            document.querySelector("#shelfID").value = selShelf.accID;
            document.querySelector("#submit").click();
        }
    })();
</script>